/*
    Below you will be able to freely customize every aspect of the comment widget.
    Most aspects of the widget are 100% able to be customized in CSS, but for strong structural changes,
    you may have to edit the JavaScript file.

    These are all the classes and IDs at your disposal!
    Classes have a c- at the start and IDs have a c_
    You don't need every single one for a good theme, but I tried to give as many options as possible!
*/
/*
    Containers:
        #c_widget - The container <div> for the entire widget
        #c_inputArea - The wrapper <div> around the form
        #c_container - The wrapper <div> around all the comments

    The input form:
        #c_form - The whole input <form>
        #c_widgetTitle - The <h2> title at the top of the form

        .c-inputWrapper- All <div> wrappers for each label/input pair
        .c-label - All <label>s
        .c-input - All <input>s

        #c_nameWrapper - The wrapper <div> for the name field
        .c-nameLabel - The <label> for the name field
        .c-nameInput - The <input> for the name field

        #c_websiteWrapper - The wrapper <div> for the website field
        .c-websiteLabel - The <label> for the website field
        .c-websiteInput - The <input> for the website field

        #c_textWrapper - The wrapper <div> for the text field
        .c-textLabel - The <label> for the text field
        .c-textInput - The <input> for the text field

        #c_submitButton - The submit button (It's an <input> element with a type of "submit")
        #c_replyingText - The text <span> that displays when a user is replying to a comment

    The comment section:
        .c-comment - All comment <div>s
        .c-reply - All reply <div>s (contained within parent comment <div>s)
        .c-replyContainer - The wrapper <div> for all replies
        .c-name - The name of the person submitting the comment/reply (an <h3> element)
        .c-timestamp - The timestamp of when the comment/reply was made (a <span> element)
        .c-site - The website linked at the top of the comment/reply (an <a> element)
        .c-text - The actual text body of the comment/reply (a <p> element)
        .c-replyButton - All reply <button>s
        .c-expandButton - The <button>s to reveal/hide replies (These only show if s_collapsedReplies is set to true in the JS)
        
        #c_pagination - The <div> wrapper for the pagination at the bottom (Only shows if there's more than one page)
        .c-paginationButton - Both left and right directional <button>s
        #c_leftButton - The left <button>
        #c_rightButton - The right <button>
*/

/* Main */
#c_widget {
    height: 100%;
    font-size: 16px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

#c_widget button, #c_widget input[type=submit] {
    text-decoration: none;
	text-align: center;
    text-transform: uppercase;
    background-color: #fa1713;
    color: white;
    border:3px solid white;
    outline:10px solid #fa1713;
    width:100%;
        font-size: 16px;
        height:40px;
    text-align: center;
    font-family:ibmcga2y;
    
}
#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}
#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    color: #B766FF;
    
}

/* Input section */
#c_inputDiv {
    background-color: #12c815;
    border:2px solid #12c815;
    padding:20px;
}
#thinger {
  border:3px solid white;
  padding:10px;

}
#c_widgetTitle {
    font-family: ibmcga2y;
    color:white;
    margin-top:-20px;
    margin-left:10px;
    z-index:5599;
  background-color:#12c815;
  width:218px;
  white-space:nowrap;
  height:30px;
  padding-left:3px;
}
#c_widgetTitle h2 { 
  background-color:#12c815;
  z-index:5599;
  height:30px;

}

.c-inputWrapper {
    display: block;
    text-align: right;
}
.c-input {
    padding: 4px;
    color: black;
    border: 1px solid #2D0B52;
	outline: none;
}
.c-input:focus {border: 1px solid #B766FF;}

.c-textInput {
    width: calc(100% - 10px);
    max-width: 900px;
    resize: none;
    background-color:red;
}
#c_submitButton {
    display: block; 
    margin-left: auto; 
    margin-right: 0;
}
#c_replyingText {
    color: white;
    text-align: right;
}

/* Comment section */
.c-comment {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid white;
    background-color: #2D0B52; 
}
.c-reply {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    border: 2px solid white;
    background-color: #2D0B52; 
}
.c-reply:last-child {margin-bottom: 0;}
.c-replyContainer {
    margin: -10px;
    margin-top: 10px;
    padding: 10px;
    background-color: black;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    background-color:white;
    padding: 0;
    font-family:ibmcga2y;
    text-transform: uppercase;
    font-weight: bold;
}
.c-site {
    text-transform: uppercase;
    text-decoration: none;
    color: #B766FF;
}
.c-site:hover {color: white;}
.c-timestamp {
    float: right;
    opacity: 75%;
}
.c-text {
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    font-family: Verdana;
    font-size: 14px;
    text-align: justify;
    color: white;
    background-color: black;
}

/* Pagination */
#c_pagination {text-align: center;}
.c-replyButton {
    margin-top: 10px;
    margin-right: 4px;
}
.c-expandButton {
    margin-top: 10px;
    margin-left: 4px;
}
.c-paginationButton {
    margin-right: 4px;
    margin-left: 4px;
}