@font-face {
  font-family:"cute";
  src:url("/data/font/serif/CuteHandWriting.ttf")
  }
@font-face {
  font-family:"teapot";
  src:url("/data/font/serif/alittlepot.ttf")
  }
@font-face {
  font-family:"handwriting";
  src:url("/data/font/serif/My_handwriting.ttf")
  }
  /*japanese*/
@font-face {
  font-family:"chihayakaku";
  src:url("/data/font/serif/%E3%81%A1%E3%81%AF%E3%82%84%E3%83%95%E3%82%A9%E3%83%B3%E3%83%88.ttf")
  }
@font-face {
  font-family:"tetsubin";
  src:url("/data/font/serif/tetsubin-gothic.otf")
  }
@font-face {
  font-family:"mochiy";
  src:url("/data/font/serif/MochiyPopOne-Regular.ttf")
  }
@font-face {
  font-family:"daruma";
  src:url("/data/font/serif/DarumaDropOne-Regular.ttf")
  }
