* {
  cursor:crosshair
  }
body {
  background-color:black;
  padding-top:50px;
  color:white;
  animation:load 2s ease;
  overflow:auto
  }
  
  .dead {
    color:grey;
    text-decoration: line-through;
  }
@keyframes load {
  0% {padding-top:500px}
  100% {
    padding-top:50px
    }
  }
        .button-container {
            position: relative;
        }
        .button {
            position: absolute;
            height:50px;
            white-space:nowrap;
            width:100px
        }
        .button:hover {
        }
.info {
  height:420px;
  width:400px;
  position:absolute;
  }
.button:hover {
transform: scale(1.3);
transition:0.5s
}
.fursona {
  background-image:url("/data/art/mouthwash/miouthwash.png");
  background-size:50%;
  background-position:center;
  height:420px;
  width:400px;
  background-repeat: no-repeat;
  z-index:1;
  position:absolute;
  left:25px
  }
.chat {
  background-position: 20px;
  background-repeat: no-repeat;  
  z-index:2;
  position:absolute;
  left:50px;
  text-align:center;
  top:375px;
  width:100%;
  }
.chat p {
  color: white !important;
  }
.body {
  margin-left:auto;
  margin-right:auto;
  width:500px;
  margin-top:80px;
  animation:float 19s infinite ease
  }
  @keyframes float {
    0% {
      margin-top:80px
      }
    50% {
      margin-top:100px
      }
    100% {
      margin-top:80px
      }
    }
.container {
  position:relative;
  top:-90px;
  z-index:-1;
  left:-130px
  }
.doodles {
  background-image:url("/art/doodles.png");
  background-size:100%
  }
.traditional {
  background-image:url("/art/traditional.png");
  background-size:100%
  }
.music {
  background-image:url("/art/music.png");
  background-size:100%
  }
.digital {
  background-image:url("/art/digital.png");
  background-size:100%
  }
.animation {
  background-image:url("/art/animation.png");
  background-size:100%
  }
button {
  border:none;
transition:0.5s;
z-index:-1;
color:white;
background-color:black
  }
#phrase {
  color:white;
}