body {
background-image: linear-gradient(0deg, #0a0a0a 19.61%, #0d0d0d 19.61%, #0d0d0d 49.02%, #000000 49.02%, #000000 50%, #0a0a0a 50%, #0a0a0a 69.61%, #0d0d0d 69.61%, #0d0d0d 99.02%, #000000 99.02%, #000000 100%);
background-size: 102.00px 102.00px;
width:550px;
display:block;
margin-left:auto;
margin-right:auto;

  color:white;
}
.tokin {
  margin:20px;
}
.tokin h1 {
  font-size:16px;
}
.tokin p {
  text-indent:10px;
}
.header {
  width:100%;
}
.header h1{
  display:flex;
  height:33px;
  text-align: center;
}
.header p {
    font-size:19px;
    letter-spacing: 1px;
  font-family: "giygas", sans-serif;
  font-weight: 800;
  color:red;
  position:relative;
  top:-10px;
  left:2px;
  text-shadow:1px 1px black;
  animation:rainbow 2s infinite steps(2);
}
@keyframes rainbow {
  0% {
    color:red;
  }
  10% {
    color:orangered;
  }
  20% {
    color:yellow;
  }
  30% {
    color:lime;
  }
  40% {
    color:blue;
  }
  50% {
    color:#9542F2;
  }
  60% {
    color:blue;
  }
  70% {
    color:lime;
  }
  80% {
    color:yellow;
  }
    90% {
    color:orangered;
  }
  100% {
    color:red;
  }
}
/*Following code from Parkaction. If Meel wants me to remove this, please let me know!*/
body::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
    background-image: url("/data/computeroverlay.png");
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    z-index: 100000000000;
    animation: ScanlineAnimationLeft 2s linear infinite;
    animation-name: ScanlineAnimationLeft;
    animation-duration: 200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;
    opacity: 0.5;
}
      .tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  left:-300px;
  z-index: 1;
  opacity: 0;
  width:120px;
  border:1px solid black;
  padding:2px;
}
.kinlist {
  text-align: center;
}
.kinlist div div {
  display:flex;
  justify-content:center;
  margin-top:3px;
}
.kinlist div img {
  margin-left:1.5px;
  margin-right:1.5px;
}
@keyframes ScanlineAnimationLeft {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    100% {
        transform: translateX(-64px) translateY(-64px);
    }}

.body {
  background-color:black;
  background-image:url("/data/assets/grounds/binding-dark.png");
  border:3px solid black;
}
.nav li:nth-child(1) button{
  background-color:#e54646;
  color:blue;
  border-radius: 5px 0px 0px 5px;
}
.nav li:nth-child(1) button:hover{
  background-color:#d33030;
  color:blue;
}
.nav li:nth-child(2) button{
  background-color:#e37625;
  color:#622a8e;
}
.nav li:nth-child(2) button:hover{
  background-color:#d65d1b;
  color:#622a8e;
}
.nav li:nth-child(3) button{
  background-color:#f5f24d;
  color:#7530a1;
}
.nav li:nth-child(3) button:hover{
  background-color:#e9d43e;
  color:#7530a1;
}
.nav li:nth-child(4) button{
  background-color:#6eda28;
  color:blue;
}
.nav li:nth-child(4) button:hover{
  background-color:#32cb20;
  color:blue;
}
.nav li:nth-child(5) button{
  background-color:#4f9fde;
  color:#7729bb;
  margin-right:0px;
  border-radius: 0px 5px 5px 0px;
}
.nav li:nth-child(5) button:hover{
  background-color:#4686d3;
  color:#7729bb;
  margin-right:0px;
}
ul {
  list-style-type:none;
  padding:0px;
  margin:0px;
  display:flex;
  justify-content: center;
  margin-top:5px;
  font-weight:bold;
}
ul li {
  margin-right:4px;
}
iframe {
  width:100%;
}
button {
  font-family:tahoma;
  border:none;
  padding:4px;
}