
body {
    background-image: url("/data/assets/grounds/blox2.png");
    background-color: #99b7db;
    background-size: 100%;
}

.container {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 138px;
    width: 100%;
    background-image: url("/data/assets/grounds/rblxbanner.png");
}

.ugh {
    display: flex;
    list-style-type: none;
    background-image: linear-gradient(to top, #3e3ec0, #37a3f0);
    border-top: 1px solid #4bffff;
    border-bottom: 1px solid #020032;
    justify-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px
}

li {
    height: 16px;
    margin-top: 3px;
    box-sizing: content-box;
}

li a {
    color: white;
    text-decoration: none;
}

u {
    color: red
}

li span {
    font-size: 9px
}

.main {
    background-image: linear-gradient(45deg, #f5f5f5 25%, #e6e6e6 25%, #e6e6e6 50%, #f5f5f5 50%, #f5f5f5 75%, #e6e6e6 75%, #e6e6e6 100%);
    background-size: 56.57px 56.57px;
    padding: 2.5px;
    padding-top: 10px;
}

.box {
    border: 1px solid gray;
    box-shadow:inset 0px 1px 1px white;
    background-image: linear-gradient(to top, #f5f5f5 70%, #e6e6e6);
    padding: 4px
}
.heada {
    height:20px;
    padding:4px;
    font-size:20px;
    color:white;
    font-family:arial;
    font-weight:580;
    background-image:linear-gradient(to top, #161616, #363636);
    border-left:1px solid #101010;
    border-bottom:1px solid #101010;
    border-radius:5px  20px 0px 0px;
    text-shadow:0px 1px gray;
}
.maina .flex {
    background-color:#eeeeee;
    box-shadow:0px 2px 5px #868686;
    padding:2px;
    margin-bottom:10px
    
}
.avatar {
  padding:0px;
  overflow-y:auto;
  width:125px;
  height:125px;
}
.avatar img {
  height:100%;
}
.maina .flex h1 {
    white-space: nowrap;
}
.flex {
    align-items: stretch;
}
.info, .why {
    height:123px;
}
.why { 
   overflow:auto
}
.why p {
    margin:5px;
    text-indent:8px;
}
.maina {
    border:1px solid #787878;
    background-color:white;
    padding:5px;
    height:100%;
    overflow:auto;
    box-sizing: border-box;
}
::selection {
    background-color:dodgerblue /*wtf is this color*/;
    color:white
}
.holder {
        margin:2.5px;
}
h1 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #232323
}
.box ul {
  text-align: center;
  cursor:default;
}
.usern:before {
  content:"@";
  color:#363636;
}
.buddies:before {
  content:"friends: ";
  color:#363636;
}
.created {
  cursor:help;
}
.created:before {
  content:"created: ";
  color:#363636;
}
.created:after {
  color:#363636;content:"?";
}
ul {
  list-style: none  ;
}
p {
    margin: 2px;
    font-family: Arial;
}

a {
    color: blue;

}